body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}
.text-editor * {
  pointer-events: auto; /* Make sure input events are not ignored */
}
.ql-editor {
    font-size: 18px;
}

.text-updater-node {
  position: relative; /* Establish a stacking context */
  overflow: visible;  /* Ensure no clipping */
  height: 640px;
  z-index: 1000; /* Higher z-index to ensure it's on top */
}

.text-updater-node label {
  display: block;
}
.text-updater-node input, .text-updater-node textarea, .text-updater-node button {
  z-index: 1001; /* Ensure these are even higher within the node */
}
.decision-node {
  position: relative; /* Establish a stacking context */
  overflow: visible;  /* Ensure no clipping */
  height: 400px;
  z-index: 1000;
}

.react-flow__edge-path {
  stroke: #333;
  stroke-width: 2;
}

.temp .react-flow__edge-path {
  stroke: #bbb;
  stroke-dasharray: 5 5;
}